body {
    font-family: sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.navigation {
    padding-bottom:px;
    display: flex;
    justify-content: space-between;
}

.navigation-menu {
   list-style: none;
   display: flex;
   padding: 25.5px 330px 0 330px;
   }

.navigation-menu-item {
    margin-left: 68px;
    font-weight: bold;
}

.navigation-menu-item-link{
    text-decoration: none;
    color: #FF0000;;
    text-transform: uppercase;
}

.info-title {
    text-align: center;
    text-transform: uppercase;
    padding: 48px 253px 0 253px;
}

.info-text {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    padding: 0 67.5px 0px 67.5px;
    
}

.button-item {
    background: #FF0000;
    color: #FFFFFF;
    border-radius: 4px;
    height: 51px;
    width: 191px;
    margin: auto;
    display:flex;
    justify-content:center;
    align-items:center;}


.foot {
    display: flex;
 }
.foot-text {
    line-height: 20px;;
    letter-spacing: 2.4px;
    color: #373737;
   /* padding-left: 1400px;*/

}